<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link href="{{ absolute_url(asset('templates/default/css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('templates/default/styles.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('templates/css/pdf.css')) }}" rel="stylesheet">

</head>
<body>
<div id="main-wrap">
    <div data-zone="top_header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" data-zone="static">
                    <div id="top" data-zone="top_header">
                        <div class="big-title pull-left col-xs-8">
                            {% block top_header %}{% endblock %}
                        </div>
                        <div class="contacts pull-right col-xs-4">
                            {% block top_contacts %}{% endblock %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-8"  data-zone="main_left_info"
                 data-zone-block-types='[{"name": "Employment History", "type": 4}, {"name": "Education", "type": 6}, {"name": "Certificates", "type": 8}, {"name": "Text Block", "type": 1}]'>
                {% block main_left_info %}{% endblock %}
            </div>
            <div  class="col-xs-4" data-zone="main_right_info"
                 data-zone-block-types='[{"name": "Skills", "type": 2}, {"name": "Text Block", "type": 1}]'>
                {% block main_right_info %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container container--footer">
        <div class="row text-center">
            <p>Created with
                <a class="topbar-logo" href="http://www.redefin.io">
                    <img alt="Redefin.io" src="{{ absolute_url(asset('/img/logo-blue.png')) }}" srcset="{{ absolute_url(asset('/img/logo-blue@2x.png')) }}">
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>