<li>
    <div class="icon"></div>
    <div class="content">
        <div class="date"><span data-key="date_from" data-placeholder="Date from">{{ date_from }}</span> - <span
                    data-key="date_to" data-placeholder="Date to">{{ date_to }}</span></div>
        <h3 class="position" data-key="position" data-placeholder="Position">{{ position }}</h3>
        <h3 class="subtitle" data-key="company" data-placeholder="Company" data-is-child="true">{{ company }}</h3><h4
                data-placeholder="Description" data-key="description">{{ description }}</h4></div>
</li>