<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}redefin.io{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet/less" type="text/css" href="{{ asset('less/app.less') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/less.min.js') }}"></script>
    </head>

    <body>
        <header class="header">
            <div class="topbar">
                <a class="topbar-logo" href="{{ path('cv_index') }}"><img alt="Logo" src="{{ asset('img/logo.png') }}"></a>
                <ul class="topbar-menu">
                    <li class="topbar-listitem">
                        <a href="{{ path('cv_index') }}">My résumé</a>
                    </li>
                </ul>

                <ul class="topbar-right-menu">
                    {# <li class="topbar-user"> #}
                        {# <span>{{ app.user }}</span> #}
                        {# <img alt="Nopic" src="{{ asset('img/user.png') }}"> #}
                    {# </li> #}
                    <li class="topbar-settings">
                        <a href="{{ path('fos_user_profile_edit') }}">Settings</a>
                    </li>
                    <li class="topbar-logout">
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
            
            {% block navbar %}{% endblock %}
        </header>

        {% block body %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://unpkg.com/rxjs@5.4.3/bundles/Rx.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
