{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">My résumé</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container mt-30">
        <div class="row">
            <div class="container--header">
                <div class="container--header-emoji-smile"></div>
                <div class="container--header-info">
                    <h3>Hey there.</h3>
                    <p>Chose one of our templates to start.</p>
                    <p>You will be able to change it later</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for template in templates %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('cv_new', {'templateId': template.id }) }}">
                        <img class="img-fluid img-thumbnail"
                             src="{{ asset('img/templates/' ~ template.templatePath ~ '.jpg') }}"
                             srcset="{{ asset('img/templates/' ~ template.templatePath ~ '@2x.jpg') }} 2x"
                             alt="{{ template.title }}" />
                    </a>
                    <h3 class="template-title text-center">{{ template.title }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}