{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">Editing my résumé</h1>

         <div class="edit-url-group">
          <input class="edit-url" value="http://redefin.io/erikas-malisauskas" disabled="true">
          <button class="btn edit-url-btn">Copy</button>
          <span class="label label-success text-copied">Copied! <img src="/img/check.png" alt="Icon"></span>
        </div>

        <div class="navbar-actions">
            <a href="{{ path('cv_index') }}" class="btn navbar-cancel">Cancel</a>
            <a href="#" class="btn navbar-save">Save</a>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div id="status-bar">
		<div class="status-bar-inner-wrapper">
			<span class="message">Block has been added</span>
			<button class="action">Undo</button>
			<button class="close"></button>
		</div>
	</div>

	<div id="template" class="resume-container resume-editing">
		<div id="loader" class="active">
			<div class="signal"></div>
		</div>
	</div>

	<aside id="sidebar" class="sidebar">
    <div class="sidebar-block sidebar-templates">
			<h3 class="sidebar-header">Templates</h3>
			<div class="templates-list">
        {% for template in templates %}
        <div class="templates-listitem">
          <div class="template" data-template-id="{{ template.id }}">
            {# {% if template.free %} #}
            <span class="price-indicator">
              <span class="price-indicator-title">Free</span>
            </span>
            {# {% endif %} #}

            <span class="check-icon">
            <img src="{{ asset('img/check.png') }}" alt="Icon"></span>
            <img class="template-image" src="{{ asset('img/dummy_template.png') }}" alt="Template" title="{{ template.title }}">
          </div>
        </div>
        {% endfor %}
			</div>
		</div>

		<div class="sidebar-block sidebar-themes">
			<h3 class="sidebar-header">Themes</h3>
			<div class="themes-list">
        {% for theme in cv.template.themes %}
        <div class="themes-listitem">
          <div class="theme-container" style="background: #{{ theme.backgroundColor }};">
            <div class="theme">
              <span class="check-icon">
                <img src="{{ asset('img/check.png') }}" alt="Icon">
              </span>
              <span class="theme-palette" style="background:#{{ theme.titleColor }};"></span>
              <span class="theme-palette" style="background:#{{ theme.paragraphColor }};"></span>
              <span class="theme-palette" style="background:#{{ theme.primaryColor }};"></span>
            </div>
          </div>
        </div>
        {% endfor %}
			</div>
		</div>
	</aside>
{% endblock %}

{% block javascripts %}
		<script type="text/javascript">
            var apiUrl = location.protocol + "//" + location.host + "/app_dev.php/api";
            var templateUrl = "{{ path('cv_index') }}";
            var isEditing = true;
            var templateId = {{ cv.template.id }};
            var cvId = {{ cv.id }};
		</script>
  <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% endblock %}
