{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="navbar">
        <h1 class="navbar-title">Editing my résumé</h1>

        <div class="navbar-actions">
            <a href="{{ path('cv_index') }}" class="btn navbar-cancel">{{ 'button_cancel'|trans }}</a>
            <button class="btn navbar-save" id="publish-button">{{ 'button_publish'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div id="template" class="resume-container resume-editing">
		<div id="loader" class="active">
			<div class="signal"></div>
		</div>
	</div>

	<aside id="sidebar" class="sidebar">
    <div class="sidebar-block sidebar-templates">
			<h3 class="sidebar-header">Templates</h3>
			<div class="templates-list">
                {% for template in templates %}
                <div class="templates-listitem">
                  <div class="template" data-template-id="{{ template.id }}" data-template-name="{{ template.title }}">
                    {# {% if template.free %} #}
                    <span class="price-indicator">
                      <span class="price-indicator-title">Free</span>
                    </span>
                    {# {% endif %} #}

                    <span class="check-icon" style="{% if template.id == cv.getTemplate().getId() %} display: block; {% endif %}">
                    <img src="{{ asset('img/check.png') }}"></span>
                    <img height="117" class="template-image" src="{{ asset('img/templates/' ~ template.templatePath~ '.jpg') }}" alt="CV Template" title="{{ template.title }}">
                  </div>
                </div>
                {% endfor %}
			</div>
		</div>

		<div class="sidebar-block sidebar-themes">
			<h3 class="sidebar-header">Themes</h3>
			<div class="themes-list"></div>
		</div>
	</aside>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="feedbackModalLabel">Save alert</h4>
                    <p class="modal-descriptipn">
                        Your changes will not be saved if you swich template.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-action="cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" data-action="ok">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
		<script type="text/javascript">
            var apiUrl = location.protocol + "//" + location.host + "/api";
            var templateUrl = "{{ path('cv_index') }}";
            var isEditing = true;
            var templateId = {{ cv.getTemplate().getId() }};
            var cvId = {{ cv.id }};
		</script>
  <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% endblock %}
