<div class="skills-group" data-key="skill" data-value="{{ skill }}"><label data-key="title">{{ title }}</label>
    <ul class="skills">{% if skill > 0 %}{% for i in 1..skill %}
            <li class="completed"></li>{% endfor %}{% endif %}{% if skill < 10 %}{% for i in 1..(10-skill) %}
            <li></li>{% endfor %}{% endif %}</ul>
</div>

<div data-key="skill" data-value="{{ skill }}">
    <div class="title" data-key="title">{{ title }}</div>
    <div class="bar">
        <div class="progress" style="width: {{ skill }}0% "></div>
    </div>
</div>