<div class="container">
    <div class="row">
        <div class="col-xs-12" data-zone="static">
            <div id="top">
                <div class="item" data-block-id="{{ block_data.id }}" data-block-type="0" data-is-draggable="false"
                     data-is-editable="true" data-is-deletable="false">
                    <div class="big-title pull-left"><h1 class="title"><span data-key="first_name"
                                                                             data-placeholder="John">{{ first_name }}</span>
                            <span data-key="last_name" data-placeholder="Doe">{{ last_name }}</span></h1>
                        <h3 class="subtitle" data-key="title" data-placeholder="Your title">{{ title }}</h3></div>
                    <div class="contacts pull-right"><a href="mailto:{{ email }}" data-key="email"
                                                        data-placeholder="john@example.com">{{ email }}</a> <a
                                href="tel:{{ phone }}" data-key="phone" data-placeholder="Your phone">{{ phone }}</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="person" vclass="item" data-block-id="{{ block_data.id }}" data-block-type="0" data-is-draggable="false"
     data-is-editable="true" data-is-deletable="false">
    <div class="photo"><img src="{{ asset('templates/standart/img/photo.jpg') }}" alt=""/></div>
    <div class="name" data-key="full_name" data-placeholder="John">{{ full_name }}</div>
    <div class="statusquo" data-key="title" data-placeholder="UI/UX designer">{{ title }}</div>
</div>