{% for theme in cv.template.themes %}
    <div data-theme-id="{{ theme.getId() }}" class="themes-listitem" data-theme-source="{{ cv.getTemplate().getTemplatePath() }}/{{ theme.cssSource }}">
        <div class="theme-container" style="background: #{{ theme.backgroundColor }};">
            <div class="theme">
                    <span class="check-icon"
                          style="{% if theme.id == cv.getTemplate().getId() %} display: block; {% endif %}">
                      <img src="{{ asset('img/check.png') }}" alt="Icon">
                    </span>
                <span class="theme-palette" style="background:#{{ theme.titleColor }};"></span>
                <span class="theme-palette" style="background:#{{ theme.paragraphColor }};"></span>
                <span class="theme-palette" style="background:#{{ theme.primaryColor }};"></span>
            </div>
        </div>
    </div>
{% endfor %}