{% extends 'base.html.twig' %}

{% block body %}
    <h1>WorkExperience</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workExperience.id }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{% if workExperience.begin %}{{ workExperience.begin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if workExperience.end %}{{ workExperience.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ workExperience.position }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ workExperience.company }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ workExperience.about }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>            
            <a href="{{ path('cv_show', { 'id': workExperience.Cv.Id }) }}">Back to the cv</a>
        </li>
        <li>
            <a href="{{ path('workexperience_edit', { 'id': workExperience.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
